@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Movies
<br />
<h1>Movie added. Thank you!</h1>
<br />
<br />
<a href="ViewCollection">Click here to view the database!</a>