@{
    ViewData["Title"] = "Get to Know Joel!";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Get to Know Joel!</h1>
</div>
<br />
<br />
<br />
<p>Thank you for visiting this page! My name is Joel. I have a rockstar brother who teaches at BYU. I am a man of many talents!
    I regularly perform stand-up comedy! I am such a funny person! On a more serious note, I have devoted much of my life to the study
    of films. I am a movie reviewer for ClearPlay! I thoroughly enjoy motion pictures, and I even have a podcast called Baconsale,
    on which I discuss films and pop culture. Obviously, I have a vast movie collection, so I have created a database of movies.
    I am always looking to add more resources! Please visit the form found in the navbar to input some movies!
</p>
<br />
<br />
<br />
<a href="https://www.qwcomedy.com/">Click here to visit my comedy club's page!</a>
<br />
<br />
<a href="https://baconsale.com/">Click here to visit my podcast's page!</a>
<br />
<br />
<br />
<a href="https://baconsale.com/"><img src="~/img/baconsalekate.jpg" height="300" /></a>
<br />
<p>Here is a photo of my podcast crew with a lady named Kate!</p>
<br />