@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <br />
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
</div>
<br />
<br />
<br />
<img src="~/img/joelhiltonheadshot.jpg" height="500" />
<br />
<br />
<br />
<p>Thank you for visiting this page! I have many great things to share with you! Above, you may find a picture of me.</p>
<br />
